.ppc{
    display: flex;
    width: 1000px;
    flex-direction: column;
    align-items: flex-end;
}

.p{
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-family: Miratrix Normal;
    font-size: 60px;
}

.conteiner{
    display: flex;
    padding: 30px ;
}

.box{
    display:block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px 30px 10px;
}

.border{
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.h3{
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20spx;
}

.header{
    background-color: rgb(215, 215, 215);
}

.footer{
    background-color: rgb(215, 215, 215);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
}